@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6 border-bottom">Contact</div>
    <div class="lead">
        <i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            Alo 156 Jandarma Çek bunuda çek
        </p>
     
        <i class="fa-solid fa-address-book bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            Bura Boyabat bir yerleriniz ferah
        </p>
        
        <i class="fa-solid fa-envelope bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            cıvata@hotmail.com
        </p>


    </div>
</div>
